.root {
    display: flex;
    align-items:flex-start;
    flex-direction:column;
    margin: 3% 3% 3% 3%;
}

.menu {
    display: flex;
    flex-direction:column;
}

.corpus {
    display: flex;
    align-items:center;
}

.text{
    font-size:0.95em;
    flex-basis: 60%;
    line-height: 200%;
    text-align:justify;
}

.inflectedW{
    font-style: italic;
}

.word{
    flex-basis: 40%;
    margin-left: 10%;
}

.button{
    width:50%;
}

.buttons{
    order:3;
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.text-selector{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-content: flex-start;
}

.tagged{
    cursor:pointer;
}

.tagged_selected {
    border-bottom: 0.5px solid black;
}

.text__tagged_wordForms{
    background-color:#f0e1f2;
}

.text__tagged_candidatsTermes{
    background-color:#bdd8f9;
}

.text__tagged_syntagmesDefinis{
    background-color:#f9e1bd;
}

.text__tagged_lexiquesTransdisciplinaires{
    background-color:#f9c3bd;
}