.root-container{
    display: flex;
    justify-content:flex-start;
    align-content: flex-start;
    flex-direction:column;
    margin: 2% 2% 2% 2%;
}
.selector{
    display: flex;
    flex-direction:column;
}

.menu {
    width:20%
}
.text{
    line-height: 200%;
    flex-basis: 40%;
    text-align:justify;
}

.occurrence__text{
    font-style: italic;
}

.occurrence{
    margin: 5% 5% 5% 5%;
}

.button{
    width:20%;
    text-align: center;
}

.button-container{
    order:3;
    display: flex;
    flex-direction: row;
}

.text-selector{
    display: flex;
    flex-direction:row;
}

.tagged--selected {
    border-bottom: 0.5px solid black;
}

.text__tagged--wordForms{
    background-color:#f0e1f2;
}

.text__tagged--candidatsTermes{
    background-color:#bdd8f9;
}

.text__tagged--syntagmesDefinis{
    background-color:#f9e1bd;
}

.text__tagged--lexiquesTransdisciplinaires{
    background-color:#f9c3bd;
}