<!DOCTYPE html>
<html>
<head>
    <title>standOff visualizer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='style.css') }}">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename = 'Skeleton-2.0.4/css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'Skeleton-2.0.4/css/skeleton.css')}}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
<script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
<div class="root-container">
    <div class="selector">
            <select class="menu selector__menu--annotation"></select>
            <select class="menu selector__menu--file"></select>
    </div>
    <div class="text-selector">
        <div class="occurrence">
            <p class="text occurrence__text"></p>
            <div class="information occurence__information"></div>
        </div>
        <div class="text"></div>
    </div>
    <div class="button-container">
        <p class="button button--prev button-container__button--prev">précédent</p>
        <p class="button button--next button-container__button--next">suivant</p>
    </div>
</div>
</body>
</html>
