<!DOCTYPE html>
<html>
<head>
    <title>standOff visualizer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='style.css') }}">
</head>
<body>
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>

    <div class="selector">
        <h2 class="title selector__title">annotations :</h2>
        <select class="menu selector__menu--annotation"></select>
        <h2 class="title selector__title">fichier :</h2>
        <select class="menu selector__menu--file"></select>
    </div>

    <p class="text"></p>

    <div class="occurrence">
        <h2 class="title title__occurrenc">info :</h2>
        <p class="text occurrence__text"></p>
        <div class="information occurence__information"></div>
    </div>
    <button class="button button--prev">précédent</button>
    <button class="button button--next">suivant</button>
</body>
</html>
